<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Login</h1>
            <div class="box">
                <form id="login-form" method="post" action="/token">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" type="text" id="username" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="control">
                <a href="/register" class="button is-link">Go to Register</a>
            </div>
        </div>
    </section>
</body>
</html>