<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Register</h1>
            <div class="box">
                <form id="register-form" method="post" action="/register">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" type="text" id="FullName" name="username" placeholder="FullName">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Confirm Password</label>
                        <div class="control">
                            <input class="input" type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="control">
                <a href="/login" class="button is-link">Go to Login</a>
            </div>
        </div>
    </section>
</body>
</html>
